@media only screen and (max-width: 932px) {
  nav {
    padding: 1rem 1.75rem;
  }

  ul {
    display: none;
  }
}

@media only screen and (min-width: 932px) and (max-width: 2160px) {
  nav {
    position: fixed;
    z-index: 2;
    top: 0px;
    padding: 1rem 6.8rem;
  }

  ul {
    display: flex;
  }
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  letter-spacing: 0.1rem;
  box-shadow: 0px 4px 15px 1px rgb(0, 0, 0, 20%);
  background: #2d2d2aa6;
  width: 100%;
}

img {
  cursor: pointer;
}

ul {
  list-style: none;
  gap: 4rem;
  font-size: 1.4rem;
  justify-self: center;
  font-weight: 100;
}

a {
  color: white;
  text-decoration: none;
}

ul li p {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 12px;
}

ul li p,
.contactme-btn {
  cursor: pointer;
}

ul li p .link {
  z-index: 1;
}

ul li p:hover {
  color: var(--paragraph-color);
}

ul li a:hover .filled {
  height: 100%;
}

.link {
  padding: 0.4rem;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  grid-column: 3;
  width: 1.5rem;
  justify-self: end;
}

.hamburger-menu {
  height: 0.25rem;
  background: white;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.mobile-nav-container {
  z-index: 2;
  height: 100vh;
  background: #2d2d2a;
  position: fixed;
  top: 0;
  width: 100vw;
}

.links-container {
  display: grid;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  margin: 2rem 0;
  font-size: 1.4rem;
  font-weight: 100;
}

.hamburger-closed:nth-child(1) {
  transform: rotate(45deg);
  height: 0.25rem;
  background: white;
  grid-template-rows: repeat(3, 1fr);
}

.hamburger-closed:nth-child(2) {
  transform: rotate(-45deg) translate(5px, -6px);
  height: 0.25rem;
  background: white;
  grid-template-rows: repeat(3, 1fr);
}

.middle-hamburger {
  opacity: 0;
  appearance: 0;
}
