@media only screen and (max-width: 932px) {
  .about-me {
    text-align: center;
  }

  .arrow {
    transform: translate(-110%, 0);
    position: relative;
    left: 50%;
  }

  .who-am-i {
    font-size: 3rem;
    text-align: center;
  }

  .background h1,
  .skills-and-tech h1,
  .about-me-projects h1 {
    font-size: var(--heading-mobile);
  }

  .skills-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem 0;
    row-gap: 2rem;
  }

  .html-svg,
  .css-svg,
  .js-svg,
  .nodejs-svg,
  .postgresql-svg,
  .photoshop-svg {
    border-right: 1px solid rgb(206, 192, 218, 40%);
  }

  .about-me-projects-container {
    grid-template-rows: repeat(3, 1fr);
    row-gap: 4rem;
  }

  .project {
    gap: 1rem;
  }

  .project-paragraph {
    line-height: 40px;
  }

  .lets-connect {
    text-align: start;
    line-height: 40px;
    width: 19rem;
  }

  .project-paragraph {
    font-size: 1rem;
  }

  .about-me {
    transform: translate(0, -10%);
    padding: 8rem 1.6rem;
  }
}

@media only screen and (min-width: 932px) and (max-width: 2180px) {
  .who-am-i {
    font-size: 6.25rem;
  }

  .background h1,
  .skills-and-tech h1,
  .about-me-projects h1 {
    font-size: var(--heading);
  }

  .background p {
    width: 63.2rem;
  }

  .about-me {
    transform: translate(0, -10%);
    padding: 1rem 6.8rem;
  }

  hr {
    width: 17.25rem;
  }

  .skills-container {
    grid-template-columns: repeat(8, 1fr);
    height: 10.2rem;
    width: 52rem;
  }

  .html-svg,
  .css-svg,
  .js-svg,
  .react-svg,
  .nodejs-svg,
  .postgresql-svg,
  .photoshop-svg {
    border-right: 1px solid rgb(206, 192, 218, 40%);
  }

  .who-am-i-container {
    width: 61.2rem;
  }

  .about-me-projects-container {
    grid-template-columns: repeat(3, 1fr);
    height: 24rem;
    width: 63rem;
  }

  .about-me-projects-container div:nth-child(2) {
    border-left: 1px solid rgb(206, 192, 218, 40%);
    border-right: 1px solid rgb(206, 192, 218, 40%);
  }

  .project-paragraph {
    font-size: 1.4rem;
  }
}

.arrow {
  width: 135px;
  height: 508px;
}

.who-am-i {
  -webkit-text-stroke: white 4px;
  color: #2d2d2a;
  text-shadow: -8px 0px 4px black;
  margin-top: 5.2rem;
}

.who-am-i span {
  color: white;
}

.who-am-i-container {
  display: grid;
  gap: 2rem;
  margin-top: 4.2rem;
}

.background,
.skills-and-tech,
.about-me-projects {
  color: white;
}

.background p {
  font-size: var(--paragraph);
  color: var(--paragraph-color);
  line-height: 2.7rem;
  margin-top: 3rem;
  font-weight: 300;
}

hr {
  margin-top: 2rem;
  border: 2px solid rgb(206, 192, 218, 40%);
}

.skills-and-tech p {
  font-size: 1.5rem;
  color: var(--paragraph-color);
  line-height: 2.7rem;
  width: 63.2rem;
  margin-top: 3rem;
}

.skills-container {
  display: grid;
  align-items: center;
  justify-items: center;
  border: 1px solid rgb(206, 192, 218, 40%);
  border-radius: 12px;
  margin-top: 3rem;
  background: rgb(0, 0, 0, 12%);
}

.skills-container svg {
  height: 2.8rem;
  width: 2.8rem;
}

.html-svg,
.css-svg,
.js-svg,
.react-svg,
.nodejs-svg,
.postgresql-svg,
.photoshop-svg {
  height: 4.7rem;
  width: 100%;
  align-content: center;
  text-align: center;
}

.html-svg,
.css-svg,
.js-svg,
.react-svg,
.nodejs-svg,
.postgresql-svg,
.photoshop-svg,
.figma-svg {
  filter: drop-shadow(0 8px 8px rgb(0, 0, 0, 36%));
}

.about-me-projects-container {
  justify-items: center;
  border: 1px solid rgb(206, 192, 218, 40%);
  display: grid;
  text-align: center;
  align-items: center;
  border-radius: 12px;
  margin-top: 3rem;
  background: rgb(0, 0, 0, 12%);
  padding: 4rem 0;
}

.project {
  display: grid;
  grid-template-rows: 1fr 4rem 8rem;
  align-items: center;
  justify-items: center;
  padding: 0 1.5rem;
}

.project svg {
  width: 2.8rem;
  height: 2.8rem;
}

.project-title {
  font-size: 1.5rem;
  width: 12rem;
  margin: 0 auto;
  font-weight: 600;
}

.project-paragraph,
.lets-connect {
  color: var(--paragraph-color);
  font-weight: 300;
}

.lets-connect {
  font-size: 1.2rem;
  margin-top: 1.3rem;
}

.lets-connect a {
  text-decoration: underline;
}
