@media only screen and (max-width: 932px) {
  .projects h1 {
    font-size: 3rem;
    -webkit-text-stroke: white 2px;
  }

  .projects {
    text-align: center;
  }

  .project-arrows-container {
    display: flex;
    gap: 4rem;
  }

  .projects-arrows {
    height: 3.4rem;
    width: 3.4rem;
  }

  .projects-container {
    margin-top: 3rem;
  }

  .projects-inner-container {
    padding: 0 3rem;
    margin: 3rem 0;
  }

  .project-summary {
    font-size: var(--paragraph-mobile);
  }

  .project-info {
    grid-template-rows: 6rem auto 14rem auto;
    margin-top: 3rem;
  }

  .built-using-container {
    margin-top: 3rem;
  }

  .built-using-container svg {
    width: 2.8rem;
    height: 2.8rem;
  }

  .build-info {
    margin-bottom: 0.4rem;
  }

  .project-btns {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 932px) and (max-width: 2180px) {
  .projects h1 {
    font-size: 6.25rem;
    -webkit-text-stroke: white 4px;
    padding: 1rem 6.8rem;
  }

  .projects {
    text-align: end;
  }

  .projects-inner-container {
    grid-template-columns: 1fr 67.6rem 1fr;
    height: 47rem;
  }

  .projects-container {
    align-items: center;
    height: 60rem;
  }

  .project-number {
    font-size: 50rem;
    letter-spacing: -60px;
    top: 0;
  }

  .projects-inner-container {
    align-items: center;
    margin: 0 auto;
  }

  .project-summary {
    font-size: var(--paragraph);
  }

  .project-info {
    align-items: center;
    grid-template-rows: 6rem 24rem 3.4rem auto;
  }

  .projects-arrows {
    height: 5.4rem;
    width: 5.4rem;
  }
}

.projects h1,
.projects h1 span {
  text-shadow: -8px 0px 4px black;
  margin-top: 5.2rem;
}

.projects h1 {
  color: white;
}

.projects h1 span {
  color: #2d2d2a;
}

.projects-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  border-top: 2px solid rgb(206 192 218 / 40%);
  border-bottom: 2px solid rgb(206 192 218 / 40%);
}

.projects-inner-container {
  display: grid;
  width: 86rem;
  justify-items: center;
}

.project-number {
  position: absolute;
  left: 0px;
  transform: translate(0, 12.3%);
  font-weight: bold;
  color: rgb(255 255 255 / 4%);
}

.projects-arrows {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #6d6870;
  z-index: 1;
}

.projects-arrows svg {
  width: 3rem;
  height: 3rem;
  color: white;
}

.project-info-container {
  display: grid;
  grid-template-columns: 1fr 60%;
  width: 100%;
}

.project-info {
  display: grid;
  text-align: start;
  color: white;
  z-index: 1;
}

.project-summary {
  color: var(--paragraph-color);
  line-height: 2.7rem;
  font-weight: 300;
}

.build-info {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.build-info svg {
  width: 3rem;
  height: 3rem;
}

.project-img {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 65% 100%);
  height: 47rem;
  filter: blur(1.2px);
}

.fs-project {
  background: url("../assets/fs-project-assessment.netlify.png");
}

.chat-server {
  background: url("../assets/chat-server.png");
}

.high-scores {
  background: url("../assets/high-scores.png");
}

.cakes-co {
  background: url("../assets/cakes-co.png");
}

.project-btns {
  display: flex;
  margin-left: 0.4rem;
  gap: 2rem;
}

.project-btns button {
  width: max-content;
  padding: 1rem 1.25rem;
  border-radius: 12px;
  background: var(--cta-btn-gradient);
  color: white;
  border: none;
  box-shadow: var(--cta-btn-shadow);
}
