.projects {
  text-align: end;
}

.projects h1,
.projects h1 span {
  font-size: 6.25rem;
  -webkit-text-stroke: white 4px;
  text-shadow: -8px 0px 4px black;
  margin-top: 5.2rem;
}

.projects h1 {
  color: white;
  padding: 1rem 6.8rem;
}

.projects h1 span {
  color: #2d2d2a;
}

.projects-container {
  width: 100%;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top: 2px solid rgb(206 192 218 / 40%);
  border-bottom: 2px solid rgb(206 192 218 / 40%);
}

.projects-inner-container {
  display: grid;
  grid-template-columns: 1fr 67.6rem 1fr;
  height: 47rem;
  width: 86rem;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}

.project-number {
  font-size: 50rem;
  position: absolute;
  left: 0px;
  top: 0;
  transform: translate(0, 12.3%);
  font-weight: bold;
  letter-spacing: -60px;
  color: rgb(255 255 255 / 4%);
}

.projects-arrows {
  height: 5.4rem;
  width: 5.4rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #6d6870;
  z-index: 1;
}

.projects-arrows svg {
  width: 3rem;
  height: 3rem;
  color: white;
}

.project-info-container {
  display: grid;
  grid-template-columns: 1fr 60%;
  width: 100%;
}

.project-info {
  display: grid;
  grid-template-rows: 6rem 24rem 3.4rem auto;
  text-align: start;
  align-items: center;
  color: white;
  z-index: 1;
}

.project-summary {
  font-size: var(--paragraph);
  color: var(--paragraph-color);
  line-height: 2.7rem;
  font-weight: 300;
}

.build-info {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.build-info svg {
  width: 3rem;
  height: 3rem;
}

.project-img {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 65% 100%);
  height: 47rem;
  filter: blur(1.2px);
}

.fs-project {
  background: url("./fs-project-assessment.netlify.png");
}

.chat-server {
  background: url("./chat-server.png");
}

.high-scores {
  background: url("./high-scores.png");
}

.cakes-co {
  background: url("./cakes-co.png");
}

.project-btns {
  display: flex;
  margin-left: 0.4rem;
  gap: 2rem;
}

.project-btns button {
  width: max-content;
  padding: 1.25rem;
  border-radius: 12px;
  background: var(--cta-btn-gradient);
  color: white;
  border: none;
  letter-spacing: 0.2rem;
  box-shadow: var(--cta-btn-shadow);
}
